/* common */
html,
body {
  font-family: adobe-clean, sans-serif;
  width: 100vw;
  height: 100vh;
}
/* media query */
/* large device (desktop) */
@media screen and (max-width: 1600px) {
  header div.gnb-box-wrapper {
    display: none;
  }
  header aside.gnb-search-box {
    display: none;
  }
}
/* medium device (tablet) */
@media screen and (max-width: 899px) {
  /* global-nav */
  header nav.gnb-wrapper {
    max-width: 899px;
    margin: 0 20px;
    position: relative;
    display: flex;
  }
  header li.logo-wrapper {
    margin-left: 35px;
  }
  header button.lnb-tit {
    display: none;
  }

  header span.search {
    display: none;
  }
  header ul.user-util {
    margin-right: 20px;
  }
  header #toggle-btn {
    background: url(../src/icon/toggle.png) center/contain;
    position: absolute;
    width: 18px;
    height: 22px;
    cursor: pointer;
  }
  footer section.footer-nav-list {
    flex-wrap: wrap;
  }
  footer ul.footer-nav-right {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    padding: 10px;
    line-height: 1.5em;
  }
  footer section.footer-guide {
    display: flex;
    flex-direction: column;
  }
  footer section.footer-guide ul {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: max-content;
  }
  footer .footer-s-guideline {
    width: 800px;
    display: block;
    border-top: 1px solid #656464;
    padding: 10px 0;
  }
  footer section.footer-guide li a {
    display: none;
  }
  footer section.footer-guide li h2 {
    font-size: 15px;
  }
  footer li h2.footer-gap {
    margin-top: 0;
  }
  footer section.footer-download ul {
    border: none;
  }
}
/* small device (mobile) */
@media screen and (max-width: 690px) {
  footer section.footer-download {
    display: none;
  }
}

/* screen out에 대한 코드 확인할 것  */
.screen-out {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */
header .click-menu1 {
  width: 100vw;
  position: absolute;
  top: 63px;
  right: -1248px;
}
header .click-menu2,
header .click-menu3,
header .click-menu4 {
  position: absolute;
  top: 60px;
  right: -140px;
}

header .gnb-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5;
  max-width: 1400px;
  text-align: center;
  margin: 0 auto;
}

header .gnb {
  height: inherit;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
header .gnb li {
  padding: 0 20px;
  height: 100%;
  line-height: 64px;
}

header .logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  white-space: nowrap;
}
header .gnb h1 {
  color: #fa0f00;
  font-weight: 700;
  font-size: 18px;
  margin-left: 7px;
}
header .logo::before {
  display: block;
  content: "";
  background: url(/src/icon/Adobe_Corporatesvg.svg) center/cover;
  width: 25px;
  height: 22px;
}
header .gnb {
  white-space: normal;
}

header .menu1-big-item span::before {
  display: block;
  content: "";
  background: url(/src/icon/creativecloud-app.svg) center/cover;
  width: 26px;
  height: 26px;
  margin: 0 10px 0 28px;
}

header .menu2-big-item span::before {
  display: block;
  content: "";
  background: url(/src/icon/acro_reader.svg) center/cover;
  width: 26px;
  height: 26px;
  margin-right: 10px;
}
header .menu3-big-item span::before {
  display: block;
  content: "";
  background: url(/src/icon/Adobe_Experience_Cloud_logo_RGB.svg) center/cover;
  width: 26px;
  height: 26px;
  margin: 0 10px 0 28px;
}
/* gnb-card */
header .gnb-card {
  width: 264px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header .gnb-card-text {
  width: 100%;
  height: 180px;
  text-align: left;
  color: #000;
  background-color: #ff62f6;
  box-sizing: border-box;
  margin-top: 40px;
}
header .gnb-card-text h4 {
  padding-top: 25px;
  padding-bottom: 10px;
}
header .gnb-card-text h4,
header .gnb-card-text h5 {
  font-weight: bold;
  line-height: 1.5;
}
header .gnb-card-text p {
  line-height: 1;
}
header .gnb-card-text a {
  text-decoration: underline;
}
header .gnb-card-img {
  width: 264px;
  height: 170px;
}

header .lnb-tit h2 {
  color: #2c2c2c;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  position: relative;
}
header .lnb-tit h2::after {
  position: absolute;
  top: 3px;
  right: -15px;
  display: flex;
  content: "";
  width: 6px;
  height: 6px;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 1px;
  border-bottom-width: 1px;
  color: #2c2c2c;
  transform: rotate(45deg);
  border-style: solid;
}
header .gnb-search-wrapper {
  position: absolute;
  top: 80px;
  background-color: #fff;
  width: 100vw;
}

header .gnb-search-box {
  width: 100%;
}
header .user-util {
  display: flex;
  justify-content: space-between;
}
header .search {
  cursor: pointer;
}
header .sign-in {
  font-weight: 400;
  color: #2c2c2c;
  font-size: 14px;
  margin-left: 18px;
}

/* gnb button toggle */
.hidden {
  display: none;
}

/* header section */
header .header-section {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100vw;
  height: 650px;
  background-color: #19005c;
  color: #fff;
  line-height: 1.6;
}
header .header-cont {
  width: 1400px;
  margin: 0 auto;
  color: #fff;
}
header .header-cont h3 {
  font-size: 42px;
  font-weight: 700;
  padding-bottom: 10px;
}
header .header-cont .btn-wrapper {
  margin: 20px 0;
}
header .header-cont a {
  color: #fff;
}
header .video-section {
  display: flex;
  justify-content: end;
}
header .video-desktop {
  max-width: 1400px;
  height: 100%;
  margin: 0 70px;
}

/* main-common */
main .wide-card h3 {
  font-size: 42px;
  font-weight: 700;
}
main .card p:first-child {
  margin-bottom: 20px;
}
main .card p:nth-child(3) {
  padding: 8px 0;
  line-height: 1.2;
}
/* main */
main .header-section .wide-card {
  display: inline-flex;
  width: 1400px;
  height: 100%;
}

main .lnb-wrapper {
  margin: 0 12px 40px;
  padding: 24px 0;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  border-bottom: solid 1px #c9c9c9ad;
}
main .lnb {
  display: flex;
}
main .lnb h2 {
  font-weight: 700;
  color: #505050;
}
main .lnb a {
  color: #1473e6;
  font-size: 16px;
  font-weight: 400;
  margin: 0 15px;
}

/* main-section */
/* main-section refactoring */
main .item3 h2,
main .item9 h2,
main .item13 h2 {
  font-size: 18px;
  font-weight: 700;
  border-bottom: 1px solid;
  margin-bottom: 15px;
}

main .item3 a,
main .item9 a,
main .item13 a {
  font-size: 14px;
  line-height: 3;
}

main .main-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  row-gap: 40px;
  margin: 0 30px auto;
}
main .item1 {
  grid-column: 1/2;
  grid-row: 1/2;
  background: url(/src/img/desktop/hp-cc_lady.jpeg) center/contain;
  color: #fff;
}
margin .item1 a {
  color: #fff;
}
main .item2 {
  grid-column: 2/3;
  grid-row: 1/2;
  background: url(/src/img/desktop/hp-cc.jpeg) center/contain;
}
main .item3 {
  grid-column: 3/4;
  grid-row: 1/2;
  background: #9797fc;
}
main .item3 h2 {
  color: #000;
}
main .item3 h2:last-child,
main .item9 h2:last-child {
  margin-top: 5px;
}
main .item3 a {
  line-height: 2.5;
}
main .item4 {
  grid-column: 1/3;
  grid-row: 2/3;
  width: 990px;
  color: #fff;
  line-height: 1.6;
  box-sizing: content-box;
  background: url(/src/img/desktop/ladyWithPole.jpeg) center/cover no-repeat;
}
main .item4 h3 {
  font-size: 24px;
}
main .item4 a {
  color: #fff;
}
main .item5 {
  grid-column: 3/4;
  grid-row: 2/3;

  background: url(/src/img/edit_img4.jpg) center/cover;
}
main .item6 {
  grid-column: 1/4;
  grid-row: 3/4;
  background: url(/src/img/desktop/adobe_edit.jpeg) center/cover;
}
main .item7 {
  grid-column: 1/2;
  grid-row: 4/5;
  background: url(/src/img/edit_img4.jpg) center/cover;
}
main .item8 {
  grid-column: 2/3;
  grid-row: 4/5;
  background-color: #eb1200;
}
main .item9 {
  grid-column: 3/4;
  grid-row: 4/5;
  background-color: #4b1640;
  color: #fff;
  line-height: 1.6;
}
main .item9 a {
  color: #fff;
}
main .item10 {
  grid-column: 1/4;
  grid-row: 5/6;
  background: url(/src/img/desktop/Simplify_your_life.jpeg) center/cover;
  color: #fff;
}
main .item10 button {
  width: 132px;
}
main .item10 a {
  color: #fff;
}
main .item11 {
  grid-column: 1/2;
  grid-row: 6/7;
  background: url(/src/img/desktop/adobe_labtop2.jpeg) center/contain;
}
main .item12 {
  grid-column: 2/3;
  grid-row: 6/7;
  background: url(/src/img/desktop/adobe_labtop.jpeg) center/contain;
}
main .item13 {
  grid-column: 3/4;
  grid-row: 6/7;
  background-color: #65cccc;
}
main .main-sent {
  padding: 40px 0;
  text-align: center;
  line-height: 40px;
  color: #505050;
}
main .main-sent a {
  color: #1473e6;
}
/* footer main */
footer .footer-wrapper {
  width: 100%;
  /* display: flex; */
  justify-content: center;
  flex-direction: column;
  height: 593px;
  background-color: #fafafa;
  padding: 40px 0 20px;
}

footer .footer-guide {
  display: flex;
  justify-content: center;
}
footer .footer-guide ul {
  height: 375px;
  margin-right: 150px;
}
footer .footer-guide li {
  margin-bottom: 10px;
}
footer .footer-guide h2 {
  font-size: 14px;
  color: #505050;
  font-weight: 700;
}

footer .footer-guide a {
  font-size: 12px;
  color: #4b4b4b;
  padding: 4px 0;
}

footer .footer-gap {
  margin-top: 30px;
}

/* footer download */
.footer-download {
  margin: 30px 0;
}
.footer-download ul {
  margin: 0 auto;
  max-width: 1400px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px #505050;
  border-bottom: 1px #505050;
  border-style: solid;
}
.footer-download li {
  margin-right: 20px;
}

.footer-download h2 {
  font-weight: 700;
  font-size: 14px;
  color: #505050;
}
.footer-download a {
  color: #4b4b4b;
  font-size: 12px;
  font-weight: 400;
  margin-left: 5px;
}

footer .footer-download li {
  display: flex;
  align-items: center;
}
footer .aa::before {
  display: block;
  content: "";
  background: url(/src/icon/reader_appicon.svg) center/cover;
  width: 20px;
  height: 20px;
}
footer .ps::before {
  display: block;
  content: "";
  background: url(/src/icon/ps.svg) center/cover;
  width: 20px;
  height: 20px;
}
footer .il::before {
  display: block;
  content: "";
  background: url(/src/icon/ai.svg) center/cover;
  width: 20px;
  height: 20px;
}

/* footer-nav-list */

footer .footer-nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;

  margin: 0 auto;
}
footer .footer-nav-left {
  display: flex;
  align-items: center;
  /* justify-content: start; */
  width: 100%;
}
footer .change-region {
  width: 100%;
  position: relative;
  font-size: 11px;
  display: flex;

  align-items: center;
  color: #4b4b4b;
}

footer .globe-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  fill: #4b4b4b;
}
footer .change-region em::after {
  position: absolute;
  top: 7px;
  right: -15px;
  display: flex;
  content: "";
  width: 6px;
  height: 6px;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 1px;
  border-bottom-width: 1px;
  color: #4b4b4b;
  transform: rotate(45deg);
  border-style: solid;
}

footer .footer-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 0 20px 40px;
}
footer .footer-social li {
  margin-right: 8px;
}
footer .facebook + em::before {
  display: block;
  content: "";
  background: url(/src/icon/social-icon-facebook.svg) center/cover;
  width: 20px;
  height: 20px;
}

footer .twitter + em::before {
  display: block;
  content: "";
  background: url(/src/icon/twitter.svg) center/cover;
  width: 20px;
  height: 20px;
}

footer .linked-in + em::before {
  display: block;
  content: "";
  background: url(/src/icon/social-icon-linkedin.svg) center/cover;
  width: 20px;
  height: 20px;
}
footer .insta + em::before {
  display: block;
  content: "";
  background: url(/src/icon/social-icon-instagram.svg) center/cover;
  width: 20px;
  height: 20px;
}

footer .footer-nav-right {
  display: flex;
  justify-content: end;
  font-weight: 300;
  font-size: 11px;
  width: 100%;
  line-height: 1;
}

footer .copyright {
  color: #9999;
}
footer .copyright small::after {
  display: inline-block;
  content: "/";
  margin: 0 8px;
}
footer .footer-user-nav {
  display: flex;
  /* height: 100%; */
  justify-content: space-between;
  width: max-content;
}
footer .footer-user-nav li:not(:last-child) {
  display: inline-block;
  width: max-content;
  margin-right: 20px;
}
footer .footer-user-nav li:not(:last-child)::after {
  display: inline-block;
  content: "/";
  margin: 0 8px;
  position: absolute;
}
